<h1 mat-dialog-title>Der Mitarbeiter:</h1>
<div mat-dialog-content>
  <p>
    <mat-form-field>
      <mat-label>Auswählen:</mat-label>
      <mat-select
        name="mitarbeiter"
        [(ngModel)]="data.mitarbeiter"
        [ngModelOptions]="{ standalone: true }"
      >
        <mat-option
          *ngFor="let mitarbeiter of data.mitarbeiters"
          [value]="mitarbeiter.id_mitarbeiter"
        >
          <img with="30" height="30" src="{{mitarbeiter.image}}" />
          {{ mitarbeiter.vorname + " " + mitarbeiter.nachname }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <mat-label>Ab</mat-label>
      <input matInput disabled [matDatepicker]="picker" [value]="data.minAb" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Bis</mat-label>
      <input
        matInput
        [min]="data.minAb"
        [max]="data.maxBis"
        [matDatepicker]="picker1"
        [(ngModel)]="data.maxBis"
      />
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>

  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>
    Ok
  </button>
</div>
