<h1 mat-dialog-title>Neue Aufgabe</h1>
<div mat-dialog-content>
  <p>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="data.name" />
    </mat-form-field>
  </p>

  <mat-form-field>
    <mat-label>Personentagen</mat-label>
    <input
      type="number"
      matInput
      [(ngModel)]="data.aufwandsschatzung"
      (change)="calcularFecha(data.aufwandsschatzung, data.beginnt )"
    />
  </mat-form-field>
  <p>
    <mat-form-field>
      <mat-label>beginnt</mat-label>
      <input
        matInput
        [matDatepicker]="picker1"
        [min]="data.minDate"
        [max]="data.maxDate"
        [(ngModel)]="data.beginnt"
        (change)="calcularFecha(data.aufwandsschatzung, data.beginnt )"
      />
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>endet</mat-label>
      <input
        matInput
        disabled
        [matDatepicker]="picker"
        [(ngModel)]="data.endet"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Beschreibung</mat-label>
      <textarea matInput [(ngModel)]="data.beschreibung"></textarea>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <mat-label>Skill</mat-label>
      <mat-select
        name="skill"
        [(ngModel)]="data.skill"
        [ngModelOptions]="{ standalone: true }"
      >
        <mat-option *ngFor="let skill of data.skills" [value]="skill.id_skill">
          <img with="30" height="30" src="{{skill.image}}" />
          {{ skill.name + " " + skill.level }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>

  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>
    Ok
  </button>
</div>
