.container {
  margin-top: 120px;
  margin-left: 100px;
  margin-right: 300px;
}

.title {
  margin-top: 50px;
  margin-left: 30px;
}

.mat-expansion-panel-header-description {
  flex-grow: 2;
  justify-content: end;
}
