.container {
  margin-top: 120px;
  margin-left: 100px;
  margin-right: 300px;
}

.title {
  margin-top: 50px;
  margin-left: 30px;
}

.mat-expansion-panel-header-description {
  flex-grow: 2;
  justify-content: end;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 20px;
  justify-content: flex-start;
  align-content: space-between;
  align-items: baseline;
}

.mat-card {
  width: 200px;
  height: 230px;
  margin: 20px 10px;
}
