<h1 class="title">Projekte</h1>
<div class="container">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let projekt of projekte">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>{{ projekt.name }}</b>
          --
          {{ projekt.kunde.nachname }}
        </mat-panel-title>
        <mat-panel-description>
          {{ projekt.fruheste_stardat | date: "dd MMMM yyyy" }} -
          {{ projekt.spatestes_enddat | date: "dd MMMM yyyy" }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-card-content>
        <p>
          {{ projekt.beschreibung }}
        </p>
      </mat-card-content>
      <mat-horizontal-stepper labelPosition="bottom" #stepper>
        <mat-step
          *ngFor="let aufgabe of projekt.aufgaben"
          [stepControl]="firstFormGroup"
        >
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>{{ aufgabe.name }}</ng-template>
            <div class="princip">
              <mat-card>
                <mat-card-header>
                  <img with="30" height="30" src="{{ aufgabe.skill.image }}" />
                  <mat-card-title>{{ aufgabe.skill.name }}</mat-card-title>
                  <mat-card-subtitle>{{
                    aufgabe.skill.level
                  }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>{{ aufgabe.beschreibung }}</p>
                  <b
                    >Aufwand in Personentagen:
                    {{ aufgabe.geschatzter_aufwand }}</b
                  >
                  <br />
                  beginnt: {{ aufgabe.beginnt | date: "yyyy-MM-dd" }} <br />
                  endet: {{ aufgabe.endet | date: "yyyy-MM-dd" }} <br />
                </mat-card-content>
                <mat-card-actions>
                  <button mat-stroked-button color="primary">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-stroked-button color="primary">
                    <mat-icon
                      (click)="
                        deleteAufgabe(projekt.id_projekt, aufgabe.id_aufgabe)
                      "
                      >delete</mat-icon
                    >
                  </button>
                </mat-card-actions>
              </mat-card>
            </div>
            <div class="segundo"></div>

            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
      </mat-horizontal-stepper>
      <!-- hier ist ein Aufruf zum Dialog-->

      <button mat-raised-button (click)="openDialog(projekt)">
        Neue Aufgabe
      </button>

      <button
        mat-icon-button
        color="primary"
        [routerLink]="['/projekte/edit', projekt.id_projekt]"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        color="primary"
        (click)="deleteProjekt(projekt.id_projekt)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-expansion-panel>
  </mat-accordion>
  <br />
  <button mat-raised-button [routerLink]="['/projekte/add']" color="primary">
    neues Projekt
  </button>

  <br /><br /><br />
  <br />
  <br /><br /><br />
  <br />
  <br /><br /><br />
  <br />
  <br /><br /><br />
</div>
