<div class="container">
  <mat-card *ngFor="let kunde of kunden" class="example-card">
    <mat-card-header>
      <mat-card-title>{{ kunde.vorname }}</mat-card-title>
      <mat-card-subtitle>{{ kunde.nachname }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions>
      <button mat-button [routerLink]="['/kunde/edit', kunde.id_kunde]">
        Edit
      </button>

      <button mat-button (click)="deleteKunde(kunde.id_kunde)">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
<button mat-raised-button [routerLink]="['/kunde/add']" color="primary">
  Create
</button>
